.tour-cards-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    width: 80%;
    margin-left: 20%;

}

.sidebar{
    width: 20%;
    min-height: 100%;
    background-color: white;
    opacity: 80%;
    position: fixed;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    overflow: auto;
}

main{
    display: flex;
}

h2{
    padding: 5px;
    position: relative;
    top:9px;
}
p{
    position: relative;
    top:5px;
}

.button{
    height: 200px;
}

.bg{
    position: fixed;
    width:100%;
    height: 100%;
    background-image: url('src\assets\home.jpg');
    background-size: cover;
    filter: blur(5px);
    top: 0;
    z-index: -1;
}

button{
    margin-top: 10px;
}